.mybanner{opacity:1;}
.mybox{box-shadow:10px 10px 10px black;border:12px black solid;}

@keyframes textshowhide
{
from{opacity:0;}
to{opacity:1;}
}

.textzoom{font-size:60px;text-shadow:10px 10px 10px black;font-family:verdana;text-transform:uppercase;animation:textshowhide 1s alternate;animation-iteration-count: 10;}


a:link{color:white;}
a:visited{color:white;}
a:hover{text-decoration:underline;}

.about{
color:white;
font-family:verdana;
font-size:20px;
margin-left:0px;
text-shadow:10px 10px 10px black;
animation:textshowhide 2s alternate;animation-iteration-count: 10;
}

.aboutmetext{font-size:15px;text-align:justify}

.skill
{
border-radius:50px;
padding-left:20px;
height:25px;width:75%;line-height:-80px
}

.port{
border:2px solid #006699;
text-shadow:10px 10px 10px BLACK;
box-radius:10px;
font-size:20px;
text-align:justify;
}

@keyframes glow {
    from {box-shadow:5px 4px 8px cyan;}
    to {box-shadow:5px 4px 18px yellow;background:white;}
}



.myicon{width:30px;height:30px;box-shadow:5px 4px 8px cyan;}

.myicon:hover{animation:glow 1s linear infinite alternate;}


.follow {font-size:10px;background:#006699;display:inline-block;padding:0px;margin:10px;padding:4px;}





@keyframes followmeani {
    from {color:magenta;}
    to {color:cyan;}
}

.contactme{display:block;position:relative;animation:followmeani 1s linear infinite alternate;}

@keyframes jubbyani {
    from {transform:scalex(0);}
    to {transform:scalex(1);}
}

.picani
{
box-shadow:10px 10px 10px black;
animation:jubbyani 3s alternate;
}

#p0,#p1,#p2,#p3,#p4,#p5,#p6{cursor:pointer}



.form-control:focus
 {
transition:0.50s ease-out;
transform:scale(1.10);

}

.form-control:hover
 {
transition:0.50s ease-out;
border:2px black solid!important;
cursor:pointer;
}





